bayesian-optimization==1.2.0
ConfigSpace==0.4.18
diffprivlib==0.1.1
hpbandster==0.7.4
hyperopt==0.1.2
mlflow==1.7.2
nevergrad==0.4.3
nni==1.8
numpy==1.18.1
optuna==2.6.0 
pandas==0.25.3
psutil==5.7.0
pytorch-ignite==0.3.0
ray==1.2.0
requests==2.22.0
scikit-learn==0.24.1
scikit-optimize==0.8.1
syft==0.2.8
syft-proto==0.5.1
tensorflow==1.15.0
tensorboardX==2.2 
tf-encrypted==0.5.9
torch==1.4.0
torchvision==0.5.0
tqdm==4.40.2
zoopt==0.4.1 